{{#data}}
<div class="my">
  <h2 class="lala"><a href="#page/{{id}}">{{title}}</a></h2>

  <img class="imagine2" src="{{image}}" alt="{{title}}" />
  <p class="mama">{{content}}</p>

</div>

{{/data}}

{{^data}}
  No pages :(
{{/data}}
